/* Datapage */

.dadis-data-container{
  padding-left: 0;
  padding-right: 0;
}


.dadis-data-browse-card{


  h3{
    margin-top: 0;
    font-size: 16px;
  }


  .btn-floating{
    margin-top: -19px;

  }


  .card-up {

    .dadis-data-img{
      background-repeat: no-repeat;
      background-position: 50% 50%;
      height: 182px;

      &.browseSpeciesCountry{
        background-image: url(img/browseSpeciesCountry.jpg);
      }

      &.dataReports{
        background-image: url(img/dataReports.jpg);
      }

      &.transboudaryBreed{
        background-image: url(img/transboudaryBreed.jpg);
      }

      &.crossTable{
        background-image: url(img/crossTable.jpg);
      }

      &.dataAnalysis{
        background-image: url(img/dataAnalysis.jpg);
      }

      &.standardReports{
        background-image: url(img/standardReports.jpg);
      }


    }

  }


}
