/* Homepage */


.dadis-home-chart-card{

  .card-up{
    background-color: white;
    border-bottom: 1px solid $fenix-hr;
    padding: 15px;

    h3{
      border: 0 !important;
      font-size: 18px;
    }

    p{
      color: $fenix-secondary-text;
    }

  }



}