/* DADIS Reports */

.dadis-reports-container{
  padding-left: 0;
  padding-right: 0;



  .elegant-card{
    background-color: white;
  }

}



#geneticresources, #riskstatus, #statereporting{

  .highcharts-text-outline{
    display: none;
  }

}


#riskstatus{

  .pie-label, .label-legenda{
    font-size: 10px;
    display: block;
    width: 19px;
    height: 19px;
    background-color: white;
    position: relative;
    z-index: 1;
    @include fx-border-radius(50%);
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
    text-align: center;
    line-height: 18px;

  }

  .highcharts-tooltip > span {
    background: rgba(255,255,255,0.85);
    border: 1px solid silver;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #888;
    padding: 8px;
    z-index: 2;
  }

}



